<!-- Modal -->
<div id="countdown_modal" class="modal fade" data-backdrop="static" role="dialog">
  <div class="modal-dialog" style="width: 25%">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Session Timeout</h2>
      </div>
      <div class="modal-body" style="text-align: center;">
        Your session will timeout in ...(seconds)<br><br>
        <div id="countdown_time_remaining" style="text-align: center; font-size: 450%;font-weight: bold;"></div><br><br>
        Click the 'Renew Session' button below to renew your session.
      </div>
      <hr>
      <div align="center" style="padding-bottom: 10px">
        <span id="btn_renew_session" class="btn btn-default" onclick=renew_session();>Renew Session</span>
      </div>
    </div>
  </div>
</div>

<script>
  var _interval;

  $(document).ajaxComplete(function (event, jqXHR, ajaxOptions) {
    //blacklisted urls - in PRISME the polling on the welcome page use the pattern reload_
    var url = ajaxOptions.url;
    var patt = new RegExp('reload_');
    var res = patt.test(url);

    if (res == false) {
      setLastRoundTrip();
    }
  });

  function setLastRoundTrip() {
    gon.last_round_trip = Math.round(new Date().getTime() / 1000);
  }

  function renew_session() {
    console.log('renewing session');
    $.get(gon.routes.renew_session_path, function(data){console.log(JSON.stringify(data))});
    $('#countdown_modal').modal('hide');
    clearInterval(_interval);
    setLastRoundTrip();
    checkSessionTimeout();
  }

  function countdown() {
    var _countdown_idx = 0;
    $('#countdown_time_remaining').text('');

    var update_countdown = function() {
      var secs = (gon.countdown_mins*60) - _countdown_idx - 50;//todo remove the 50
      $('#countdown_time_remaining').text(secs.toString());

      if (secs === 0){
        $('#btn_renew_session').hide();

        // clear the update countdown interval and redirect the user to the session_timeout route
        clearInterval(_interval);
        window.location.href = gon.routes.session_timeout_path;
      } else {
        _countdown_idx++;
      }
    };

    $('#countdown_modal').modal('show');
    _interval = setInterval(update_countdown, 1000);
  }

  var checkSessionTimeout = function() {
    if (Math.round(new Date().getTime() / 1000) > gon.last_round_trip + (60 * gon.start_countdown_in)) {
      console.log('starting session countdown...');
      countdown();
    } else {
      setTimeout(checkSessionTimeout, 1000);
    }
  };

  <% if ssoi? %>
    checkSessionTimeout();
  <% end %>
</script>
